body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.nav {
  background-color: #4fa9da;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 80px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 20px;
  text-transform: uppercase;
}

.nav__link {
  text-decoration: none;
  color: white;
}

.nav__link--active {
  color: #0d2c9c;
  font-weight: bold;
}
