body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.nav {
  background-color: #4fa9da;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 80px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 20px;
  text-transform: uppercase;
}

.nav__link {
  text-decoration: none;
  color: white;
}

.nav__link--active {
  color: #0d2c9c;
  font-weight: bold;
}

.category {
  display: flex;
}

.category__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.category__item {
  margin-right: 5px;
}

.category__add_category {
  position: relative;
  height: 32px;
}

.category__input {
  color: #fff;
  width: 130px;
  height: 100%;
  background-color: #3f51b5;
  border: none;
  border-radius: 16px;
  padding: 0 31px 0px 15px;
}

.category__add_btn:focus,
.category__input:focus {
  outline: none;
}

.category__input::placeholder {
  color: #fff;
}

.category__add_btn {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 4px;
  right: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  color: #4254b6;

  background-color: rgb(255, 255, 255, 0.7);

  border: none;
  padding: 0;
  border-radius: 50%;
}

.category__add_btn:hover {
  background-color: rgb(255, 255, 255);
}

.product_list__product {
  display: flex;
  flex-direction: column;

  background-color: #c6cbe9;
  border-radius: 5px;

  padding: 10px;
  text-align: center;
  margin: 10px !important;
}

.product_list__product span,
.product_list__product button {
  margin-top: 5px;
}

.product_list__product--isBought {
  background-color: #6cd583;
}

.error {
  color: red;
  font-weight: 700;
}

.filters {
  border: 2px solid #005d8f;
  background-color: #cee3ef;
  margin: 10px 0;
  border-radius: 10px
}

.range {
  width: 300px !important;
  margin: 20px 15px;
}

